<div class="margin-bottom-50">
    <div class="hoverbox-8">
        <a href="#">
            <img src="../assets/images/col-1.jpg" alt="">
        </a>
    </div>
    <div class="margin-top-30">
        <div class="d-flex justify-content-between margin-bottom-10">
            <div class="d-inline-flex">
                <a class="font-family-tertiary font-small font-weight-normal uppercase" href="#">{{blog.category}}</a>
            </div>
            <div class="d-inline-flex">
                <span class="font-small">tags, tags, tags</span>
            </div>
            <div class="d-inline-flex">
                <span class="font-small">Jan 24, 2019</span>
            </div>
        </div>
        <h5>
            <a href="#">{{blog.title}}</a>
        </h5>
        <p>{{blog.content}}</p>
        <div class="margin-top-20">
            <a class="text-button button-font-2" href="#">Read More</a>
        </div>
    </div>
</div>
