<!-- <p>{{ blog | json }}</p>-->





<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <h2 class="font-weight-normal">Post title</h2>
                <ul class="list-inline-dash">
                    <!-- <li><a href="#">by Admin</a></li> -->
                    <li><a href="#">{{blog?.category}}</a></li>
                    <li><a href="#">{{blog?.createdAt | date}}</a></li>
                </ul>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>

<!-- Featured Image -->
<div class="container" *ngIf="blog && blog.imagePath">
    <img src="{{ 'http://localhost:3333/api/assets/' + blog.blogFolder + '/' + blog.imagePath }}" alt="">
</div><!-- end container -->
<!-- end Featured Image -->

<!-- Post Content -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">

                <p>
                    {{ blog?.content }}
                </p>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>
<!-- end Post Content -->

<div class="section-xs border-top">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h6 class="font-family-tertiary font-small font-weight-normal uppercase">Tags</h6>
                <ul class="list-inline-sm">
                    <li *ngFor="let tag of blogTags"><a href="#">{{ tag | titlecase }}</a></li>
                </ul>
            </div>
            <div class="col-6 text-right">
                <h6 class="font-family-tertiary font-small font-weight-normal uppercase">Share On</h6>
                <ul class="list-inline">
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=#http://localhost:4200"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                </ul>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>

<blog-workspace-comment-list></blog-workspace-comment-list>

<blog-workspace-create-comment></blog-workspace-create-comment>


<!-- Scroll to top button -->
<div class="scrolltotop">
    <a class="button-circle button-circle-sm button-circle-dark" href="#"><i class="ti-arrow-up"></i></a>
</div>
<!-- end Scroll to top button -->
