
<!-- Blog Sidebar -->
<div class="col-12 col-lg-4 order-lg-1 sidebar-wrapper" style="display: inline-block;">
    <!-- Sidebar box 1 - About me -->
    <div class="sidebar-box text-center">
        <h6 class="font-small font-weight-normal uppercase">About Me</h6>
        <!-- src="../assets/images/img-circle-medium.jpg" -->
        <!-- src="http://localhost:3333/api/assets/blog-image.jpg" -->
        <img class="img-circle-md margin-bottom-20 img-circle" 
        src="https://scontent.fbeg1-1.fna.fbcdn.net/v/t31.0-8/10443010_777912065600596_5943032417824840358_o.jpg?_nc_cat=111&ccb=1-3&_nc_sid=174925&_nc_ohc=URbXVvUM0jEAX-7Cteo&_nc_ht=scontent.fbeg1-1.fna&oh=53b50be05721176e8c2bdae15c164b60&oe=606F0F15"
         alt="">
        <p>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <ul class="list-inline margin-top-20">
            <li><a href="https://www.facebook.com/sharer/sharer.php?u=#http://localhost:4200"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
    <!-- Sidebar box 2 - Categories -->
    <div class="sidebar-box">
        <h6 class="font-small font-weight-normal uppercase">Categories</h6>
        <ul class="list-category">
            <li><a href="#">Art <span>11</span></a></li>
            <li><a href="#">Fashion <span>4</span></a></li>
            <li><a href="#">Lifestyle <span>12</span></a></li>
            <li><a href="#">Nature <span>8</span></a></li>
            <li><a href="#">Travel <span>15</span></a></li>
        </ul>
    </div>
    <!-- Sidebar box 3 - Popular Posts -->
    <div class="sidebar-box">
        <h6 class="font-small font-weight-normal uppercase">Popular Posts</h6>
        <!-- Popular post 1 -->
        <div class="popular-post">
            <a href="#">
                <img src="../assets/images/img-circle-small.jpg" alt="">
            </a>
            <div>
                <h6 class="font-weight-normal"><a href="#">Blog Post with Image</a></h6>
                <span>January 07, 2018</span>
            </div>
        </div>
        <!-- Popular post 2 -->
        <div class="popular-post">
            <a href="#">
                <img src="../assets/images/img-circle-small.jpg" alt="">
            </a>
            <div>
                <h6 class="font-weight-normal"><a href="#">Blog Post with Image</a></h6>
                <span>January 07, 2018</span>
            </div>
        </div>
        <!-- Popular post 3 -->
        <div class="popular-post">
            <a href="#">
                <img src="../assets/images/img-circle-small.jpg" alt="">
            </a>
            <div>
                <h6 class="font-weight-normal"><a href="#">Blog Post with Image</a></h6>
                <span>January 07, 2018</span>
            </div>
        </div>
    </div>
    <!-- Sidebar box 4 - Banner Image -->
    <div class="margin-bottom-20">
        <a href="#">
            <img src="../assets/images/col-3.jpg" alt="">
        </a>
    </div>
    <!-- Sidebar box 5 - Tags -->
    <div class="sidebar-box">
        <h6 class="font-small font-weight-normal uppercase">Tags</h6>
        <ul class="tags">
            <li><a href="#">Art</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Event</a></li>
            <li><a href="#">Fashion</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">Inspiration</a></li>
            <li><a href="#">Movie</a></li>
            <li><a href="#">Music</a></li>
            <li><a href="#">Nature</a></li>
            <li><a href="#">Office</a></li>
            <li><a href="#">Painting</a></li>
            <li><a href="#">Photography</a></li>
            <li><a href="#">People</a></li>
            <li><a href="#">Work</a></li>
        </ul>
    </div>
    <!-- Sidebar box 6 - Facebook Like box -->
    <div class="sidebar-box text-center">
        <h6 class="font-small font-weight-normal uppercase">Follow on</h6>
        <ul class="list-inline">
            <li><a href="https://www.facebook.com/sharer/sharer.php?u=#http://localhost:4200"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fab fa-behance"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
</div>
<!-- end Blog Sidebar -->
