//
// Preloader Styles //
//
body {
	&:after {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		z-index: 998;
		background: $color-white;
		width: 100%;
		height: 100%;
	}
	&.loaded {
		&:after {
			display: none;
		}
	}
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	visibility: visible;
	opacity: 1;
	background: $color-white;
	width: 100%;
	height: 100%;
	text-align: center;
	div {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
	}
}
.loaded {
	.preloader {
		visibility: hidden;
		opacity: 0;
		@include transition(ease-out 0.4s);
	}
}

//
// Preloader 1 //
//
.preloader-1 {
	span {
		display: inline-block;
		width: 50px;
		height: 50px;
		border: 1px solid;
		border-radius: 50%;
		border-color: $color-dark $border-grey $border-grey $border-grey;
		@include animation(loader-one-spin 500ms infinite linear);
	}
}
@keyframes loader-one-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}
@-webkit-keyframes loader-one-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

//
// Preloader 2 //
//
.preloader-2 {
	div	{
		position: relative;
		width: 60px;
		height: 60px;
		.loader-circular {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			transform-origin: center center;
			width: 60px;
			height: 60px;
			margin: auto;
			animation: loader-two-rotate 2s linear infinite;
		}
		.loader-path {
			stroke: $color-dark;
			stroke-dasharray: 1, 200;
			stroke-dashoffset: 0;
			stroke-linecap: round;
			animation: loader-two-dash 1.5s ease-in-out infinite;
		}
	}
}

@keyframes loader-two-rotate {
	100% { transform: rotate(360deg); }
}
@keyframes loader-two-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

//
// Preloader 3 //
//
.preloader-3 {
	div {
		span {
			display: inline-block;
			opacity: 0.2;
			background: $color-black;
			background: linear-gradient(to right, $color-black 10%, transparent 40%);
			width: 50px;
			height: 50px;
			border-radius: 50%;
			@include animation(loader-three 0.6s infinite linear);
			&:before, &:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
			}
			&:before {
				background: $color-black;
				width: 50%;
				height: 50%;
				border-radius: 100% 0 0 0;
			}
			&:after {
				right: 0;
				bottom: 0;
				background: $color-white;
				width: 90%;
				height: 90%;
				margin: auto;
				border-radius: 50%;
			}
		}
	}
}
@keyframes loader-three {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-webkit-keyframes loader-three {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

//
// Preloader 4 //
//
.preloader-4 {
	div {
		width: 40px;
		height: 40px;
		span {
			position: relative;
			display: block;
			&:before, &:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background: $color-black-01;
				width: 40px;
				height: 40px;
				border-radius: 50%;
			}
			&:before { @include animation(loader-four-bounceIn 1.2s infinite ease-in-out); }
			&:after { @include animation(loader-four-bounceOut 1.2s infinite ease-in-out); }
		}
	}
}
@-webkit-keyframes loader-four-bounceIn {
	0%, 100% { -webkit-transform: scale(0); }
	50% { -webkit-transform: scale(1.0); }
}
@keyframes loader-four-bounceIn {
	0%, 100% { -webkit-transform: scale(0); transform: scale(0); }
	50% { -webkit-transform: scale(1.0); transform: scale(1.0); }
}
@-webkit-keyframes loader-four-bounceOut {
	0%, 100% { -webkit-transform: scale(1.0); }
	50% { -webkit-transform: scale(0); }
}
@keyframes loader-four-bounceOut {
	0%, 100% { -webkit-transform: scale(1.0); transform: scale(1.0); }
	50% { -webkit-transform: scale(0); transform: scale(0); }
}

//
// Preloader 5 //
//
.preloader-5 {
	div {
		position: relative;
		width: 50px;
		height: 50px;
		span {
			position: absolute;
			top: 0;
			left: 0;
			@include transform(scale(0));
			display: inline-block;
			opacity: 0;
			background: $color-black-02;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			@include animation(loader-five 1s infinite ease-out);
		}
	}
}
@-webkit-keyframes loader-five {
	0% {
		@include transform(scale(0));
		opacity: 1;
	}
	80% {
		@include transform(scale(1));
		opacity: 0;
	}
	100% {
		@include transform(scale(0));
		opacity: 0;
	}
}
@keyframes loader-five {
	0% {
		@include transform(scale(0));
		opacity: 1;
	}
	80% {
		@include transform(scale(1));
		opacity: 0;
	}
	100% {
		@include transform(scale(0));
		opacity: 0;
	}
}